<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NewsGatorSyscPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NewsGatorSyscPlugin.Properties.Settings>
            <setting name="NewsGatorSyscPlugin_SubscriptionService_SubscriptionWebService"
                serializeAs="String">
                <value>http://services.newsgator.com/ngws/svc/Subscription.asmx</value>
            </setting>
            <setting name="NewsGatorSyscPlugin_LocationSevice_LocationWebService"
                serializeAs="String">
                <value>http://services.newsgator.com/ngws/svc/Location.asmx</value>
            </setting>
        </NewsGatorSyscPlugin.Properties.Settings>
    </applicationSettings>
</configuration>